:root {
  --header-background: rgba(236, 236, 236, 1);
  --footer-text: rgba(255, 255, 255, 0.6);
  --footer-background: rgba(47, 48, 58, 1);
  --color-webstudio: rgba(33, 150, 243, 1);
  --about-us-section: rgba(255, 255, 255, 1);
  --background-color: rgba(245, 244, 250, 1);
  --text-color-article: rgba(117, 117, 117, 1);
  --titles-color: rgba(0, 0, 0, 1);
  --text-color: rgba(33, 33, 33, 1);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family)
}

.container {
  width: 1170px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 25px;
}

.info-list,
.navigation-list {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 50px;
}
.info-item, .navigation-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero {
  padding-top: 200px;
  padding-bottom: 280px;
}
.hero-container {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.hero-button {
  margin: 0 auto;
}
.benefits {
  padding-bottom: 94px;
}
.benefits-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.doing-container {
  display: flex;
  flex-wrap: wrap;
}
.doing-list {
  padding-bottom: 94px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
}
.doing-title {
  padding-bottom: 50px;
  margin: 0 auto;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
}

.team-title {
  padding-left: 453px;
  padding-right: 453px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 50px;
}

.team-list {
  padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  padding-top: 60px;
  padding-bottom: 20px;
}

.address {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.control-list {
  padding: 94px 298px 34px 297px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.adv-container {
  display: flex;
  margin: 0 auto;
}
.advertisements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
  padding: 0 0 0 0;
}
.advertisements-item {
  height: 404px;
  width: 370px;
}