:root {
  --header-background: rgba(236, 236, 236, 1);
  --footer-text: rgba(255, 255, 255, 0.6);
  --footer-background: rgba(47, 48, 58, 1);
  --color-webstudio: rgba(33, 150, 243, 1);
  --about-us-section: rgba(255, 255, 255, 1);
  --background-color: rgba(245, 244, 250, 1);
  --text-color-article: rgba(117, 117, 117, 1);
  --titles-color: rgba(0, 0, 0, 1);
  --text-color: rgba(33, 33, 33, 1);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family)
}

.container {
  width: 1170px;
  margin: 0 auto;
}
/* 
.header {
  margin-bottom: 80px;
}

.benefits {
  margin-bottom: 94px;
}

.doing {
  margin-bottom: 94px;
}

.team {
  margin-bottom: 34px;
}
 */
.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.info-list,
.navigation-list {
  padding-top: 32px;
  padding-bottom: 32px;
/*   margin-bottom: 94px; */
}

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
}

.benefits {
  padding-bottom: 94px;
}

.doing-title {
  padding-bottom: 50px;
}

.doing-item {
  padding-bottom: 94px;
}

.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
}

.team-list {
  padding-bottom: 94px;
}

.footer-logo {
  padding-top: 60px;
  padding-bottom: 20px;
}

.address {
  padding-bottom: 60px;
}
/* 
.control {
  margin-top: 94px;
  margin-bottom: 34px;
}

.advertisements-item {
  margin-bottom: 30px;
} */
