.advertisements {
  padding-bottom: 94px;
}

.advertisements-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.advertisements-item {
  background-color: $light-txt-color;
  text-align: start;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.advertisements-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.advertisements-overlay {
  position: absolute;
  opacity: 0;
  background-image: linear-gradient(to top,
      rgba(33, 150, 243, 0.9),
      rgba(33, 150, 243, 0.9));
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.advertisements-desc {
  color: $light-txt-color;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.advertisements-item:hover .advertisements-overlay {
  opacity: 1;
  transform: translateY(0%);
}

.advertisements-title {
  color: $titles-color;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 36px;
  padding-top: 20px;
  padding-left: 24px;
}

.advertisements-subtitle {
  color: $desc-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.advertisements-item-container {
  border: 1px solid;
  border-color: $adv-item-border;
  border-top: 0;
}