.footer {
  background-color: $footer-background;
  padding-top: 60px;
  padding-bottom: 60px;
}

.left-part-footer-wrapper {
  display: flex;
  gap: 70px;
}

.footer-container {
  display: flex;
  gap: 93px;
}

.footer-address {
  padding-top: 20px;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 9px;
}

.footer-address-item {
  color: $light-txt-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: $footer-text;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.footer-wrapper {
  padding-top: 12px;
}

.footer-list-title {
  color: $light-txt-color;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03px;
  padding-bottom: 20px;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-link {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: block;
}

.footer-icon {
  fill: $light-txt-color;
  height: 20px;
  width: 20px;
}

.footer-link:hover {
  background-color: $main-color;
}

.footer-link:hover .footer-icon {
  fill: $light-txt-color;
}

.footer-form-wrapper {
  padding-top: 12px;
}

.footer-form-title {
  padding-bottom: 20px;
  color: $light-txt-color;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-form-input {
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  background-color: transparent;
  width: 358px;
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
}

.footer-form-button {
  background-color: $main-color;
  border: 0;
  border-radius: 4px;
  color: $light-txt-color;
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 0.06em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: $font-family;
}

.footer-form-btn-icon {
  fill: $light-txt-color;
  width: 24px;
  height: 24px;
}