@use "../utils/variables" as *;
@use "../utils/placeholders" as *;
@use "../utils/mixins" as *;
@use "../utils/fonts" as *;

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid;
  border-bottom-color: $adv-item-border;

  & .animation {
    transition-duration: 300ms;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 93px;
  }

  &__nav {
    &-list {
      display: flex;
      gap: 50px;
    }

    &-link {
      color: $titles-color;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.02em;

      &:hover {
        color: $main-color;
      }
    }

    &-link--current,
    &-link--portfolio-current {
      color: $main-color;
      position: relative;
    }

    &-link--current:hover::after {
      content: "";
      position: absolute;
      display: inline-block;
      border-radius: 2px;
      top: 43px;
      background-color: $main-color;
      width: 48px;
      height: 4px;
      left: 0;
    }

    &-link--portfolio-current:hover::after {
      content: "";
      position: absolute;
      display: inline-block;
      left: 0;
      border-radius: 2px;
      top: 43px;
      background-color: $main-color;
      width: 78px;
      height: 4px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__link {
    color: $desc-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    gap: 10px;

    &:hover {
      color: $main-color;
    }

    &:hover .header__icon {
      fill: $main-color;
    }
  }

  &__icon {
    fill: $desc-color;
    width: 16px;
    height: 12px;
  }

  &__icon:nth-child(2) {
    width: 10px;
    height: 16px;
  }

  &__info-list {
    display: none;
  }

  &__sm-list {
    display: none;
  }

  &__burger-label {
    display: none;
  }

  &__burger-input {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;

    &__wrapper {
      gap: 87px;
    }

    &__container {
      gap: 96px;
    }

    &__list {
      flex-direction: column;
      gap: 10px;
    }

    &__link {
      font-size: 12px;
    }

    &__icon {
      fill: $desc-color;
      width: 14px;
      height: 10px;
    }

    &__icon:nth-child(2) {
      width: 10px;
      height: 14px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;

    &__nav-list {
      display: none;
    }

    &__list {
      display: none;
    }

    input {
      display: none;
    }

    label {
      display: block;
      width: 30px;
      margin-left: auto;
      top: 15px;
      position: relative;
      height: 100vh;

      &:hover {
        cursor: pointer;
      }

      & span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: $span-color;
        position: absolute;
        right: 0;
        transition: 0.5s;

        &::before {
          content: "";
          display: block;
          width: 25px;
          height: 2px;
          background: $span-color;
          position: absolute;
          right: 0;
          transition: 0.3s;
          top: -8px;
        }

        &::after {
          content: "";
          display: block;
          width: 25px;
          height: 2px;
          background: $span-color;
          position: absolute;
          right: 0;
          transition: 0.3s;
          top: 8px;
        }
      }
    }

    input[type="checkbox"]:checked ~ &__nav-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    input[type="checkbox"]:checked ~ label span {
      transform: rotate(-45deg);
    }
    input[type="checkbox"]:checked ~ label span::before {
      top: 0;
      transform: rotate(0);
    }
    input[type="checkbox"]:checked ~ label span::after {
      top: 0;
      transform: rotate(90deg);
    }

    input[type="checkbox"]:checked ~ &__list {
      display: block;
    }

    input[type="checkbox"]:checked ~ &__sm-list {
      display: block;
    }
  }
}
