.logo {
  color: var(--main-color);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo-span {
  color: var(--span-color);
}

.footer-logo-span {
    color: var(--light-txt-color);
}