.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.hero-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: $light-txt-color;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  border-radius: 16px;
}

.is-hidden .hero-modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 250ms ease;
}

.hero-modal-close-btn {
  position: absolute;
  bottom: 543px;
  left: 490px;
  background-color: rgba(0, 0, 0, 0);
  padding: 6px;
  border-radius: 100%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: rgba(0, 0, 0, 1);
}

.close-icon:hover {
  fill: $main-color;
}

.hero-modal-title {
  font-size: 20px;
  padding-bottom: 12px;
  position: relative;
}

.hero-modal-form {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-modal-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: $desc-color;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.hero-modal-input {
  position: relative;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 10px;
}

.hero-modal-input::before {
  content: '';
  position: absolute;
  left: 12px;
}

.man::before {
  font-family: "FontAwesome";
  content: "\e902";
}

.hero-modal-textarea {
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
}

.hero-modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
}

.hero-modal-input:hover {
  border-color: $main-color;
}

.hero-modal-input:hover .hero-modal-label-icon {
  fill: $main-color;
}

.hero-modal-wrapper {
  display: flex;
  gap: 7px;
  justify-content: center;
}

.hero-modal-checkbox {
  border: 2px solid;
  border-color: $titles-color;
  padding: 4px 2px 3px 3px;
  background-color: $main-color;
}

.hero-modal-desc {
  font-size: 14px;
  line-height: 23px;
  color: $desc-color;
}

.hero-modal-desc-link {
  color: $main-color;
  text-decoration: underline;
}

.hero-modal-btn {
  margin-top: 30px;
  background-color: $main-color;
  border-radius: 4px;
  border: 0;
  padding: 10px 52px;
  color: $light-txt-color;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  font-weight: 700;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: $font-family;
}